    <div class="container">
      <div class="row-ab">
      <div class="head"> 
        <h1>About Me</h1>
      </div>
        <div class="col-md-4 col-xs-12" id="intro">
          <h2>Introduction</h2>
          <p>My name is Maximilian Rose.</p>
        </div><!-- end col -->
        <div class="col-md-4 col-xs-12">
          <h2>My skills</h2>
          <ul id="skill-list">
            <li>Programming</li>
            <li>Cooking</li>
            <li>Watching Netflix</li>
          </ul>
        </div><!-- end col -->
      </div><!-- end row -->
      <div class="row-a">
        <div class="col-md-12 col-xs-12 main-text">
          <h2>My Story</h2>
          <p>Ever since, I was really passionate about being my own boss, so I was already at the beginning of my studies quite sure to found my own company. In the last three years, I made two internships in Startup-companies and it was an amazing experience.</p>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container aboutinfo -->
