        <div class="content">
          <div class="header">
            <h1>Contact</h1>
          </div><!-- end header -->
        </div><!-- end container -->
        <div class="Email column">
          <h2>If you have any questions:</h2>
              <p>Email me at <Strong>maximilian.rose@students.ebs.edu</Strong>.</p>
              <p>Do not hesitate to contact me, if you have any questions about my future plans. For more information you can also go to About Me and get some information about my person.</p>
              <p>If you might have any questions about our company in general please contact our support at <strong>support@breadbox.com</strong>.</p>
        </div><!-- end email -->
        <div class="Adress column">
          <h3>My Adress</h3>
            <p>Moltkestraße 29</p>
            <p>76530 Baden-Baden</p>
            <p>Germany</p>
        </div> <!-- end Adress -->
        <div class="Mobile column">
          <h4>Phone Number</h4>
            <p>If you have any urgent questions, you may also contact me on my mobile number:
            <strong>01575 - 767263</strong>.</p>
        </div><!-- end mobile -->
        <div class="The End">
          <strong><p>I am looking forward to meet you and hear about your experiences with our product!</p></strong>
        </div><!-- end The End -->
      </div>
