h1 {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: black;
  text-align: left;
  padding-top:60px;
}
.navbar{
  margin-left: -8px;
  font-family: Georgia, Rockwell, Palatino, serif;
  float: right;
  background-color: black;
  color: white;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  padding-top: 13px;
  padding-right: 5px;
}
.project {
  font-family: Georgia, Rockwell, Palatino, serif;
  background-color: black;
  color: white;
  letter-spacing: 0.05em;
  font-size: 1.1em;
}
.navbar ul li {
  padding-left: 15px;
}
